@import '_setup.scss';
@import '_components.scss';
@import '_mixins.scss';

.header {
	background-color: $black-transparent;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;

	.main-menu {
		margin: auto;
		@include media(S) {
			height: 150px;
			text-align: center;
		}
		@include media(M) {
			height: 87px;
			text-align: left;
		}

		@include media(S) {
			width: 100%;
		}
		@include media(XXXL) {
			width: 1620px;
		}

		.logo {
			@extend .center-vertically-child;
			
			@include media(S) {
				position: relative;
				margin-left: 5px;
				margin-top: 40px;
			}

			@include media(M) {
				position: absolute;
				margin-left: 70px;
				margin-top: 0px;
			}
		}
	}
}

nav {
	@extend .center-vertically-parent;
	@include media(S) {
	    margin-top: -68px;
	}
	@include media(M) {
	    margin-top: 0px;
	}
	.main-nav {
		@extend .center-vertically-child;
		right: 0px;
		margin: 0px;
		padding: 0px;


		@include media(S) {
			display: flex;
			width: 100%;
			padding: 0px;
			flex-wrap: wrap;
		}

		@include media(M) {
			display: block;
			flex-wrap: inherit;
			width:auto;
		}

		li {
			margin: auto 64px;
			list-style: none;
			float: left;
			letter-spacing: 2px;

			@include media(S) {
				margin: 10px 0px 0px 0px;
    			flex: 1 0 50%;
			}
			@include media(M) {
				margin: auto 15px;
				flex: 0 0 0%;
			}
			a {
				@extend .white-bold-font;
				@include transition(0.5s, ease);
				text-decoration: none;
				font-size: 20px;

				&:hover {
					@include animation-color($light-green);
				}
			}
		}
	}
}

main {


	.introduction {
		height: 1590px;
		position: relative;
		.introduction-container {
			padding-top: 240px;
			width: 100%;
			height: 100%;
			background-image: url(../images/background-top.png);
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;
			left: 0px;
			top: 0px;
			text-align: center;
		}

		.title {
			@extend .white-bold-font;
			letter-spacing: 3px;

			@include media(S) {
				font-size: 45px;
			}    
			@include media(M) {
				font-size: 55px;
			}    
			@include media(M) {
				font-size: 80px;
			}    
			@include media(L) {
				font-size: 91px;
			}   

		}

		.title-description {
			font-size: 24px;
			
			@include media(S) {
				width: 100%;
			}
			@include media(XL) {
				width: 830px;
			}
			margin: 0 auto 60px auto;
			color: $light-blue;
			&::first-line {
				line-height: 50px;
			}
		}
		.bg-text {
			position: absolute;
			bottom: 500px;
			color: white;
			font-family: "Open Sans";
			text-transform: uppercase;
			font-weight: bold;
			z-index: 1;
			font-size: 120px;
			width: 100%;
			text-align: center;
			left: 0px;
			@include media(S) {
				display: none;
			}
			@include media(XXL) {
			    bottom: 480px;
    			font-size: 170px;
   				display: block;
			}

			@include media(XXXXL) {
				display: none;
			}

		}

	}
	.download {
		text-align: left;
		width: 700px;
		position: absolute;
		bottom: 0px;
		margin-bottom: 140px;
		@include media(S) {
			text-align: center;
			width: 100%;
			margin-bottom: 20px;
		}
		@include media(M) {
			width: 100%;
			margin-bottom: 200px;
		}
		@include media(XXL) {
			text-align: left;
			width: 780px;
			    margin-bottom: 145px;
		}
		
		
		.title-dark {
			@extend .white-bold-font;
			color: $dark-blue;
			margin-bottom: 70px;
			z-index: 2;
			position: relative;
			@include media(S) {
				font-size: 30px;
			}
			@include media(M) {
				font-size: 60px;
			}
		}
		.advantage {
			color: $light-blue;
		}
		p {
			line-height: 35px;
			margin: 0px;
			&:nth-child(2) {
				margin-bottom: 30px;
			}
			&:nth-child(5) {
				margin-bottom: 50px;
			}
		}
	}
	.macbook-img {
		position: absolute;
		bottom: 0px;
		margin-bottom: 130px;
		z-index: 2;
		
		@include media(S) {
			display: none;
		}
		@include media(XXL) {
			display: block;
			right: 40px;
		}
		@include media(XXXL) {
			right: 230px;
		}
	}

	.features {
		background-color: $light-gray;
		margin-top: 250px;
		height: 600px;
		@include media(S) {
			height: 100%;
		}
		.container {
			height: 100%;
		}
		article {
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			height: 100%;
			padding-top: 30px;
		}
		.feature {
			max-height: 150px;
			padding: 20px;
			box-sizing: border-box;
			margin-bottom: 70px;
			@include media(S) {
				flex: 1 0 100%;
			}
			@include media(M) {
				flex: 1 0 50%;
			}
			@include media(L) {
				flex: 1 0 33%;
			}
			
			p {
				margin-top: 0px;
				&:nth-child(3) {
					line-height: 30px;
				}

			}
			.feature-img {
				float: left;
				margin-bottom: 100%;
				margin-right: 30px;
				margin-top: 10px;
			}
			.title {
				@extend .white-bold-font;
				font-size: 22px;
				color: $dark-blue;
			}
		}
	}

	.download-template {
		margin-top: 140px;
		height: 1156px;
		position: relative;
		.download-template-container {
			
			width: 100%;
			height: 100%;
			background-image: url(../images/footer.png);
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			left: 0px;
			top: 0px;
			text-align: center;
			.title {
				@extend .white-bold-font;
				font-size: 72px;
				color: $dark-blue;
				@include media(S) {
					font-size: 40px;
				}
				@include media(L) {
					font-size: 60px;
				}
				@include media(XL) {
					font-size: 72px;
				}
			}
			p {
				&:nth-child(1) {
					margin-bottom: 50px;
				}
				&:nth-child(2) {
					line-height: 30px;
					margin-bottom: 80px;
				}
			}
		}
	}
}

