//colors
$black:					#000000;			// czarny
$light-green:			#acd037;			// jasno zielony
$white:					#ffffff;			// biały
$dark-blue:				#25365d;			// granat
$black-transparent:		rgba(0, 0, 0, 0.1);	// czerny przezroczysty
$light-blue:			#bbd8ff;			// jasny niebieski
$light-gray: 			#f7f9fb;			// bardzo jasny szary
$light-gray-2:			#5a5a5a;			// jasny szary

//mixin

@mixin transition($duration, $type) {
	-moz-transition:	all $duration $type;
	-webkit-transition:	all $duration $type;
	transition:	all $duration $type;
}
@mixin animation-color($color) {
    color: $color;
}

//base
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block;
}

p { 
 color: $light-gray-2;
}

body {
	margin: 0px;
	font-family: "Open Sans";
}

//components
.button {
	@extend .white-bold-font;
	@include transition(0.5s, ease);
	background-color: $dark-blue;
	padding: 16px 54px;
	border-radius: 25px;
	text-decoration: none;
	font-size: 18px;

	&:hover {
		@include animation-color($light-green);
	}

	.icon {
		@extend .icon;
		margin-right: 18px;
		margin-left: -18px;
	}
}

.white-bold-font {
	color: $white;
	font-weight: bold;
}

.center-vertically-parent {
	position: relative;
	height: 100%;
}

.center-vertically-child {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.uppercase {
	text-transform: uppercase;
}

.container {
	width: 1155px;
	margin: auto;
}

.icon {
	position: relative;
	top: 1px;
	margin-right: 15px;
}
//content

.header {
	background-color: $black-transparent;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;

	.main-menu {
		height: 87px;
		width: 1620px;
		margin: auto;

		.logo {
			@extend .center-vertically-child;
			margin-left: 70px;
		}
	}
}

nav {
	@extend .center-vertically-parent;

	.main-nav {
		@extend .center-vertically-child;
		right: 0px;
		margin: 0px;
		padding: 0px;

		li {
			margin: auto 64px;
			list-style: none;
			float: left;
			letter-spacing: 2px;

			a {
				@extend .white-bold-font;
				@include transition(0.5s, ease);
				text-decoration: none;
				font-size: 20px;

				&:hover {
					@include animation-color($light-green);
				}
			}
		}
	}
}

main {


	.introduction {
		height: 1590px;
		position: relative;
		.introduction-container {
			padding-top: 240px;
			width: 100%;
			height: 100%;
			background-image: url(images/background-top.png);
			background-repeat: no-repeat;
			position: absolute;
			left: 0px;
			top: 0px;
			text-align: center;
		}

		.title {
			@extend .white-bold-font;
			font-size: 91px;
			letter-spacing: 3px;
		}

		.title-description {
			font-size: 24px;
			width: 830px;
			margin: 0 auto 60px auto;
			color: $light-blue;
			&::first-line {
				line-height: 50px;
			}
		}
	}
	.download {
		text-align: left;
		width: 700px;
		position: absolute;
		bottom: 0px;
		margin-bottom: 140px;
		.bg-text {
			position: absolute;
			top: -160px;
			left: -30%;
			font-size: 190px;
			width: 1620px;
			color: white;
			font-family: "Open Sans";
			text-transform: uppercase;
			font-weight: bold;
			z-index: 1;
		}
		.title-dark {
			@extend .white-bold-font;
			font-size: 60px;
			color: $dark-blue;
			margin-bottom: 70px;
			z-index: 2;
			position: relative;
		}
		.advantage {
			color: $light-blue;
		}
		p {
			line-height: 35px;
			margin: 0px;
			&:nth-child(3) {
				margin-bottom: 30px;
			}
			&:nth-child(6) {
				margin-bottom: 50px;
			}
		}
	}
	.macbook-img {
		position: absolute;
		bottom: 0px;
		margin-bottom: 130px;
		z-index: 2;
		right: 230px;
	}

	.features {
		background-color: $light-gray;
		margin-top: 250px;
		height: 600px;
		.container {
			height: 100%;
		}
		article {
			display: flex;
			flex-wrap: wrap;
			align-content: center;
			height: 100%;
    		padding-top: 30px;
		}
		.feature {
			flex: 1 0 33%;
			max-height: 150px;
			padding: 20px;
			box-sizing: border-box;
			margin-bottom: 70px;
			p {
				margin-top: 0px;
				&:nth-child(3) {
					line-height: 30px;
				}

			}
			.feature-img {
				float: left;
				margin-bottom: 70px;
				margin-right: 30px;
				margin-top: 10px;
			}
			.title {
				@extend .white-bold-font;
				font-size: 22px;
				color: $dark-blue;
			}
		}
	}

	.download-template {
		margin-top: 140px;
		height: 1156px;
		position: relative;
		.download-template-container {
			
			width: 100%;
			height: 100%;
			background-image: url(images/footer.png);
			background-repeat: no-repeat;
			position: absolute;
			left: 0px;
			top: 0px;
			text-align: center;
			.title {
				@extend .white-bold-font;
				font-size: 72px;
				color: $dark-blue;
			}
			p {
				&:nth-child(1) {
					margin-bottom: 50px;
				}
				&:nth-child(2) {
					line-height: 30px;
					margin-bottom: 80px;
				}
			}
		}
	}
}

